#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#experiencia-premier,
#eventos {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

#experiencia-premier {
  background-image: url("img/inicio/experiencia-premier/fondo-web.jpg");
}

#eventos {
  #background-video source {
    src: url("img/inicio/videos/eventos-cultura.mp4");
  }
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  #background-video source {
    src: url("img/inicio/videos/mobile.mp4");
  }

  #experiencia-premier {
    background-image: url("img/inicio/experiencia-premier/fondo-mobile.jpg");
  }

  #eventos {
    #background-video source {
      src: url("img/inicio/videos/eventos-cultura.mp4");
    }
  }

  .center-vertical {
    height: 50vh; /* Altura para dispositivos móviles */
  }
}

@media (min-width: 769px) {
  .center-vertical {
    height: 20vh; /* Altura para pantallas grandes */
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  .center-vertical {
    flex-direction: row; /* Cambia la dirección a fila para tabletas */
    height: auto; /* Ajusta la altura automáticamente */
  }
}
